<html>
	<head>
		<title>Kubernetes demo</title>
	</head>
	<body>
		<h1>Benifits of kubernets are</h1>
		<ol>
			<li>Airtight Application Security. ...</li>
			<li>Save Time & Money Supporting Giant Projects. ...</li>
			<li>Stop Errors from Causing Downtime. ...</li>
			<li>Reduce the Risk of Errors & Accelerate Time to Market. ...</li>
			<li>Lower Deployment Costs. ...</li>
			<li>Manage Microservices Architecture at a Higher Scale. ...</li>
			<li>Kubernetes is Open Source</li>
		</ol>
	</body>
	</html>
